mconnect/secured/client/example.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="https://mpay.gov.md/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:ns="https://mpay.gov.md/">
    <wsdl:types>
        <xs:schema targetNamespace="https://mpay.gov.md/">
            <xs:element name="GetData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Left" type="xs:integer" />
                        <xs:element name="Right" type="xs:integer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetDataResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:integer" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <!-- messages -->
    <wsdl:message name="GetDataRequest">
        <wsdl:part name="Parameter" element="ns:GetData"/>
    </wsdl:message>
    <wsdl:message name="GetDataResponse">
        <wsdl:part name="Parameter" element="ns:GetDataResponse"/>
    </wsdl:message>
    <wsdl:portType name="sample_service_port_type">
        <wsdl:operation name="GetData">
            <wsdl:input message="ns:GetDataRequest" />
            <wsdl:output message="ns:GetDataResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="sample_service_binding" type="ns:sample_service_port_type">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetData">
            <wsdlsoap:operation soapAction="urn:GetData"/>
            <wsdl:input name="GetDataRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetDataResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="sample_service">
        <wsdl:port binding="ns:sample_service_binding" name="sample_service_port">
            <wsdlsoap:address location="http://localhost:8043/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
